<div class="grid-item col-xs-12 col-sm-4 col-md-3 col-lg-3" data-slug="{{ card.slug }}">
    <div class="grid-item-content">
        <img src="{{ asset('uploads/cards/' ~ card.image) }}">
        <h3>
            <a href="{{ path('card', {'slug': card.slug}) }}">{{ card.title }}</a><span class="star-count"><i class="glyphicon glyphicon-star"></i>21</span>
        </h3>
        <p>{{ card.description }}</p>
        <div class="user">
            <img src="http://placehold.it/100x100" alt="">
            <a href="#">{{ card.getUser }}</a>
        </div>
    </div>
</div>

<div class="modal fade" id="card-modal" tabindex="-1" role="dialog" aria-labelledby="card-modal-label">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <!-- !!RENDER AJAX!! -->
            </div>
        </div>
    </div>
</div>